// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

.header {
    background-color: $header-bg;
    border-bottom: container("border");
    position: fixed;
    top: 0;
    width: 100%;
    z-index: zIndex("low");

    @include breakpoint("medium") {
        border-bottom: container("border");
        overflow: visible;
        position: relative;
    }

    &.is-open {
        height: 100%;

        @include breakpoint("medium") {
            height: auto;
        }
    }
}

.header-logo {
    font-size: 0;   // 1
    margin: 0 remCalc($header-toggle-width); // 2
    text-align: center;

    @include breakpoint("small") { // 4
        margin-left: remCalc($header-toggle-width * 1.5);
        margin-right: remCalc($header-toggle-width * 1.5);
    }

    @include breakpoint("medium") {
        margin: (spacing("double") + spacing("base")) auto (spacing("double") + spacing("single"));
        padding: 0;

        .header.fixed & {
            background-color: color("greys", "lightest");
            margin: 0;
            padding: spacing("quarter") 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    > a {
        @include clearfix;
        color: $storeName-color;
        display: inline-block;
        padding: $header-logo-paddingVertical 0;
        position: relative;
        text-decoration: none;
        width: 100%;
        z-index: zIndex("low");

        // scss-lint:disable NestingDepth
        @include breakpoint("medium") {
            background: none;
            border-bottom: 0;
            display: inline;
            padding: 0;
        }

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }
}

.header-logo--left {
    text-align: left;

    @include breakpoint("medium") {
        margin-left: remCalc(40px);
    }
}

.header-logo--right {
    text-align: right;

    @include breakpoint("medium") {
        margin-right: remCalc(40px);
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: fontSize("small");   // 1
    font-weight: stencilFontWeight("logo-font");
    letter-spacing: remCalc(5px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: remCalc(3px) 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: fontSize("large");
        letter-spacing: remCalc(9px);
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: fontSize("largest");
        margin-left: 0;
        margin-right: -(remCalc(9px)); // 3
        max-width: none;
        overflow: auto;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image {
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(27);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}

/* Clouds */
/*Credit: http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background */

@media (min-width: 801px) {
#clouds{
    padding: 100px 0;
    z-index: -99999;
    position: absolute;
}

/*Time to finalise the cloud shape*/
.cloud {
    width: 200px; height: 60px;
    background: #fff;
    z-index: -99999;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    
    position: relative; 
}

.cloud:before, .cloud:after {
    content: '';
    position: relative; 
    background: #fff;
    width: 100px; height: 80px;
    position: absolute; top: -15px; left: 10px;
    
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    left: 800px;
    z-index: -99999;
    -webkit-animation: moveclouds 75s linear infinite;
    -moz-animation: moveclouds 75s linear infinite;
    -o-animation: moveclouds 75s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    left: 600px;
    z-index: -99999;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6; /*opacity proportional to the size*/
    
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 85s linear infinite;
    -moz-animation: moveclouds 85s linear infinite;
    -o-animation: moveclouds 85s linear infinite;
}

.x3 {
    left: 1500px; top: -200px;
    z-index: -99999;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 80s linear infinite;
    -moz-animation: moveclouds 80s linear infinite;
    -o-animation: moveclouds 80s linear infinite;
}

.x4 {
    left: 1800px; top: -100px;
    z-index: -99999;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 68s linear infinite;
    -moz-animation: moveclouds 68s linear infinite;
    -o-animation: moveclouds 68s linear infinite;
}

.x5 {
    left: 1500px; top: -150px;
    z-index: -99999;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 70s linear infinite;
    -moz-animation: moveclouds 70s linear infinite;
    -o-animation: moveclouds 70s linear infinite;
}

.x6 {
    left: 0px; top: -180px;
    z-index: -99999;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 90s linear infinite;
    -moz-animation: moveclouds 90s linear infinite;
    -o-animation: moveclouds 90s linear infinite;
}

.x7 {
    left: -150px; top: -150px;
    
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8; /*opacity proportional to the size*/
    
    -webkit-animation: moveclouds 68s linear infinite;
    -moz-animation: moveclouds 68s linear infinite;
    -o-animation: moveclouds 68s linear infinite;
}
}


@-webkit-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
    0% {margin-left: 1000px;}
    100% {margin-left: -1000px;}
}
